<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"] - Evnt_Nxt</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>






<body>
<header class="navbar-wrapper">
    <div class="navbar">
        <div class="logo">Evnt-Nxt</div>
        <nav class="nav-links">
            <a asp-page="/Index">Home Page</a>
            <a asp-page="/Artist">Artist</a>
            <a asp-page="/Events">Events</a>
            @if (Context.Session.GetInt32("ID") != null)
            {
                <a asp-page="/Profile" asp-route-username="@Context.Session.GetString("UserName")">My Profile</a>
                <a asp-page="/Logout">Logout</a>
            }
            else
            {
                <a asp-page="/Login">Login</a>
            }

            @if (Context.Session.GetInt32("ID") != null && Context.Session.GetInt32("RoleID") == 2)
            {
                <a asp-page="/OrganizerPanel">Organizer Panel</a>
            }

        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Type here!" />
        </div>
    </div>
</header>

<main class="main">
    @RenderBody()
</main>

<footer class="footer">
    <h3>Menu</h3>
    <ul>
        <li class="footer.li"><a asp-page="/Index">Home Page</a></li>
        <li class="footer.li"><a asp-page="/Artist">Artist</a></li>
    </ul>
</footer>
</body>
</html>