@page
@model Evnt_Nxt2.Pages.EventsModel
@{
    <ul>
        @foreach (var Event in Model.Events)
        {
                <li>
                <a asp-page="/Events/Details" asp-route-Name="@Event.Name">@Event.Name</a>
                <a asp-page="/Organizer/Details" asp-route-Name="@Event.Organizer">@Event.Organizer</a>
                <span>@Event.Date</span>
                </li>
        }
        </ul>
}
